@import "tailwindcss";

:root {
    --red: #EF443B;
    --white: #F8F8FF;
    --blue: #160E33;
}

@layer utilities {
    .bg-red-custom {
        background-color: var(--red);
    }

    .text-white-custom {
        color: var(--white);
    }

    .text-blue-custom {
        color: var(--blue);
    }

    .text-red-custom {
        color: var(--red);
    }

    .bg-cv {
        background-color: rgba(22, 14, 51, 0.5);
        font-weight: medium;
        font-size: 14px
    }

    .containerText {
        font-weight: bold;
        color: var(--blue);
    }

    .btnHome {
        font-weight: normal;
        color: var(--white);
        font-size: 1rem;
        background-color: var(--red);
    }
}

@font-face {
    font-family: 'Satoshi';
    src: url('/src/assets/fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/src/assets/fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/src/assets/fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/src/assets/fonts/Satoshi-Light.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100vw;
    background-color: var(--white);
    font-family: Satoshi;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.languageIcon {
    margin-right: 25px;
}

.dropdown {
    margin-top: 15px;
    z-index: 1;
}

@keyframes scrollLoop {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}